@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
/* BREAKPOINTS */
.btn {
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
  padding: 1rem 2rem;
}
@media (max-width: 576px) {
  .btn {
    font-size: 1rem;
  }
}
.btn.btn-primary {
  background: #28A5CB;
  border: none;
  color: white;
}
.btn.btn-primary:hover {
  background-color: #4bbadb;
}
.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(40, 165, 203, 0.5);
}
.btn.btn-outline-primary {
  background: white;
  border: 1px solid #28A5CB;
  color: #28A5CB;
}
.btn.btn-outline-primary:hover {
  border-color: #4bbadb;
  color: #4bbadb;
}

.navbar {
  background-color: #1A82A7;
  padding: 2rem 0;
}
.navbar.secondary {
  background-color: white;
  color: #28A5CB;
}
.navbar.secondary .hamburger {
  color: #28A5CB;
}
.navbar.secondary .lang {
  padding: 0 2rem;
}
.navbar.secondary .lang .active {
  font-weight: bold;
}
.navbar.secondary .lang a:hover {
  color: #87CCDD;
  font-weight: bold;
}
@media (max-width: 992px) {
  .navbar.secondary .lang {
    display: none;
  }
}
.navbar .hamburger {
  display: none;
}
.navbar .menu {
  display: flex;
  color: white;
}
.navbar .menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .menu > ul li a {
  text-decoration: none;
  padding: 0.5rem 2rem;
}
.navbar .menu > ul li a:hover {
  text-decoration: none;
  color: #87CCDD;
  font-weight: bold;
}
.navbar .menu .lang {
  padding: 0 2rem;
}
.navbar .menu .lang .active {
  font-weight: bold;
}
.navbar .menu .lang a:hover {
  color: #87CCDD;
  font-weight: bold;
}
@media (max-width: 992px) {
  .navbar .hamburger {
    display: block;
    color: white;
    font-size: 32px;
  }
  .navbar .menu {
    display: none;
  }
}

.offcanvas .list-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.offcanvas .list-menu li {
  margin-bottom: 1.5rem;
}
.offcanvas .list-menu li a:hover {
  color: #28A5CB;
}
.offcanvas .lang {
  margin-top: 2rem;
}
.offcanvas .lang a:hover {
  color: #28A5CB;
}
.offcanvas .lang .active {
  font-weight: bold;
  color: #28A5CB;
}

.footer {
  background-color: #28A5CB;
  color: white;
  padding: 42px 0;
}
.footer .logo {
  margin-bottom: 1rem;
}
.footer .contacts {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}
.footer .contacts .item {
  margin-right: 2rem;
}
.footer .contacts .item p:first-child {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .footer .first-row {
    margin-bottom: 40px;
  }
  .footer .contacts {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer .contacts .item {
    margin-bottom: 28px;
    width: 100%;
    margin-right: 0;
  }
}

.header {
  background-color: #1A82A7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.header .img-bg {
  position: absolute;
  bottom: 0;
  left: 4rem;
  z-index: 0;
}
.header .img-bg img {
  width: 40%;
}
@media (max-width: 992px) {
  .header .img-bg {
    left: 0;
  }
  .header .img-bg img {
    width: 100%;
  }
}
.header .left-header {
  position: relative;
}
@media (min-width: 1450px) {
  .header .left-header .content {
    padding-right: 8rem;
  }
}
.header .left-header h2 {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: white;
  font-weight: 600;
  position: relative;
}
.header .left-header .img-listing {
  position: absolute;
  right: 2rem;
  top: 80px;
}
@media (min-width: 1450px) {
  .header .left-header .img-listing {
    right: 8rem;
    top: 80px;
  }
}
.header .left-header .img-listing img {
  width: 90%;
}
.header .right-header {
  z-index: 2;
}
.header .right-header .nav-tabs {
  border-bottom: 0;
  margin-bottom: 18px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
}
.header .right-header .nav-tabs .nav-item {
  width: 50%;
}
.header .right-header .nav-tabs .nav-item .nav-link {
  text-align: center;
  width: 100%;
  color: #5A7184;
  border-radius: 8px;
}
.header .right-header .nav-tabs .nav-item .nav-link.active {
  border: none;
  background-color: #00B6E1;
  color: white;
  border: 1px solid #00B6E1;
}
.header .right-header .btn {
  font-size: 18px;
  font-weight: 700;
}
.header .right-header .form-container {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -10px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 2rem;
}
@media (max-width: 992px) {
  .header .right-header .form-container {
    padding: 40px 20px;
  }
}
.header .right-header .form-container h5 {
  color: #5A7184;
  font-weight: 700;
  margin-bottom: 23px;
  font-size: 24px;
}
@media (max-width: 992px) {
  .header .left-header {
    margin-bottom: 1rem;
  }
  .header .left-header h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .header .left-header h2:after {
    width: 50%;
  }
  .header .left-header .img-listing {
    position: absolute;
    bottom: -5rem;
    top: auto;
    right: 1rem;
    text-align: end;
  }
  .header .left-header .img-listing img {
    width: 120px;
  }
}

.counters {
  padding: 50px 0;
  padding-top: 2rem;
}
.counters .item {
  background-color: #00B6E1;
  border-radius: 20px;
  color: white;
  padding: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counters .item .text {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 48px;
}
.counters .item p {
  font-size: 18px;
}
@media (max-width: 992px) {
  .counters .item {
    margin-bottom: 2rem;
  }
  .counters .item h1 {
    font-size: 2.5rem;
  }
  .counters .item p {
    font-size: 14px;
  }
}

.about {
  padding: 50px 0;
}
.about .row {
  border-radius: 4px;
}
.about .left-side {
  padding: 50px;
  border: 1px solid #ECEEF2;
  border-right: 0;
}
.about .left-side h2 {
  font-size: 28px;
  color: #183B56;
  font-weight: 600;
  margin-bottom: 12px;
}
.about .left-side > p {
  line-height: 32px;
}
.about .left-side .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 42px;
}
.about .left-side .items .item {
  display: flex;
}
.about .left-side .items .item .image {
  margin-right: 18px;
}
.about .left-side .items .item .image img {
  width: 32px;
  height: 32px;
}
.about .left-side .items .item .text h3 {
  font-weight: 500;
  font-size: 18px;
  color: #183B56;
}
.about .left-side .items .item .text p {
  font-size: 14px;
}
@media (max-width: 992px) {
  .about .left-side {
    padding: 20px;
  }
  .about .left-side .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .about .left-side .items .item {
    margin-bottom: 1rem;
  }
}
.about .right-side {
  padding-right: 0;
  padding-left: 0;
}
.about .right-side img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.join {
  padding: 50px 0;
}
.join .container > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 20px;
  color: #183B56;
}
.join .container > p {
  text-align: center;
  line-height: 32px;
}
.join .container .items {
  margin-top: 80px;
}
.join .container .items .item {
  text-align: center;
}
.join .container .items .item p {
  font-size: 14px;
  width: 90%;
  margin: auto;
}
.join .container .items .item img {
  width: 64px;
  height: 64px;
  margin-bottom: 30px;
}
.join .container .items .item h3 {
  font-size: 22px;
  color: #183B56;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .join .container .items .item {
    margin-bottom: 1.5rem;
  }
  .join .container .items .item p {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container-xxl {
    max-width: 1620px;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1800px) {
  .container-xxl {
    max-width: 1720px;
  }
  .container {
    max-width: 1320px;
  }
}
.property {
  background-color: #2B8BAD;
  color: white;
  padding: 50px 0;
  padding: 80px 115px;
  position: relative;
  padding-bottom: 90px;
  margin: 0 28px;
}
.property .slick-dots {
  bottom: -3rem;
  left: 0;
  text-align: left;
}
.property .slick-dots li {
  width: 32px;
  height: 5px;
}
.property .slick-dots li button {
  height: 5px;
  width: 32px;
}
.property .slick-dots li button::before {
  background-color: white;
  content: "";
  opacity: 1;
  height: 5px;
  width: 32px;
}
.property .slick-dots li.slick-active {
  width: 32px;
  height: 5px;
}
.property .slick-dots li.slick-active button {
  width: 32px;
  height: 5px;
}
.property .slick-dots li.slick-active button::before {
  background-color: #FFCE54;
  opacity: 1;
  width: 32px;
  height: 5px;
}
.property .slick-list {
  margin: 0 1rem;
}
@media (min-width: 1200px) {
  .property .slick-list {
    margin: 0;
    margin-right: -30px;
  }
}
.property:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  mix-blend-mode: normal;
  opacity: 0.6;
  filter: blur(135.914px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.property h2 {
  font-size: 36px;
  font-weight: 400;
}
.property p {
  font-weight: 400;
  line-height: 32px;
}
.property .arrow-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 2;
  cursor: pointer;
}
.property .arrow-item .bi::after {
  font-weight: 800 !important;
}
.property .arrow-item.previous {
  left: -80px;
}
.property .arrow-item.next {
  right: -80px;
}
@media (max-width: 992px) {
  .property .arrow-item {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .property .arrow-item.previous {
    left: -14px;
  }
  .property .arrow-item.next {
    right: -14px;
  }
}
@media (max-width: 992px) {
  .property {
    margin: 0;
    padding: 40px 10px;
  }
  .property h3 {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .property h6 {
    font-size: 1rem;
  }
}
.property .items {
  margin-top: 70px;
}
.property .items .item {
  background-color: white;
  color: #5A7184;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  padding-bottom: 24px;
  margin-right: 30px;
}
.property .items .item .image {
  margin-bottom: 24px;
}
.property .items .item .image img {
  border-radius: 4px;
  width: 100%;
}
.property .items .item h3 {
  color: #183B56;
  margin-bottom: 8px;
  font-weight: 600;
}
.property .items .item .text {
  padding: 0 10px;
}
@media (max-width: 992px) {
  .property .items {
    margin-top: 2rem;
  }
  .property .items .item {
    margin: 0 10px;
    padding: 10px;
  }
}

.promo {
  padding: 50px 0;
  margin: 0 46px;
}
@media (max-width: 992px) {
  .promo {
    margin: 0;
  }
}
.promo h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}
.promo .sliders {
  padding: 0 1.5rem;
}
@media (min-width: 1200px) {
  .promo .sliders {
    padding: 0 3rem;
  }
}
.promo .sliders .item {
  margin: 0 0.5rem;
}
.promo .sliders .item img {
  width: 100%;
}
.promo .sliders .previous,
.promo .sliders .next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  font-weight: bold;
}
.promo .sliders .previous {
  left: -4px;
}
.promo .sliders .next {
  right: 4px;
}
@media (max-width: 992px) {
  .promo p {
    margin-bottom: 1rem;
  }
}

.testimoni {
  padding: 50px 0;
}
.testimoni .content-header {
  text-align: center;
  margin-bottom: 6rem;
}
.testimoni .content-header h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  /* or 116% */
  text-align: center;
  letter-spacing: -0.9px;
  margin-bottom: 20px;
  color: #1D252C;
}
.testimoni .content-header p {
  color: #828282;
}
@media (max-width: 992px) {
  .testimoni .content-header {
    margin-bottom: 100px;
  }
  .testimoni .content-header h2 {
    font-size: 2rem;
  }
  .testimoni .content-header p {
    font-size: 14px;
  }
}
.testimoni .pemilik {
  background-color: rgba(120, 208, 221, 0.1);
  border-radius: 4px;
}
.testimoni .pemilik .left-side {
  padding-left: 0;
}
.testimoni .pemilik .left-side img {
  margin-top: -50px;
  margin-bottom: 54px;
}
@media (min-width: 1200px) {
  .testimoni .pemilik .right-side {
    padding-left: 2rem;
  }
}
.testimoni .pemilik .right-side .comment {
  font-size: 24px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
}
.testimoni .pemilik .right-side .name {
  font-size: 20px;
  font-weight: 700;
  color: #183B56;
}
@media (max-width: 992px) {
  .testimoni .pemilik {
    padding-bottom: 20px;
  }
  .testimoni .pemilik .left-side {
    padding-left: 0.75rem;
  }
  .testimoni .pemilik .right-side .comment {
    font-size: 20px;
    line-height: 36px;
  }
  .testimoni .pemilik .right-side .name {
    font-size: 16px;
  }
  .testimoni .pemilik .right-side p {
    font-size: 12px;
  }
}
.testimoni .badge-comment {
  background: #3D3D3D;
  border-radius: 8px;
  padding: 12px 28px;
  display: inline-block;
  color: white;
  margin-top: -10rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}
.testimoni .penyewa {
  margin-top: 72px;
}
.testimoni .penyewa .badge-comment {
  margin-top: 0;
  margin-left: -28px;
  z-index: 1;
  position: relative;
}
.testimoni .penyewa h4 {
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
@media (max-width: 992px) {
  .testimoni .penyewa .badge-comment {
    margin-left: -4px;
  }
}
.testimoni .penyewa .sliders {
  margin-top: -3rem;
}
.testimoni .penyewa .sliders .slick-track {
  display: flex !important;
}
.testimoni .penyewa .sliders .slick-slide {
  height: inherit !important;
}
.testimoni .penyewa .sliders .arrow-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 2;
  cursor: pointer;
}
.testimoni .penyewa .sliders .arrow-item.previous {
  left: -20px;
}
.testimoni .penyewa .sliders .arrow-item.next {
  right: -20px;
}
@media (max-width: 992px) {
  .testimoni .penyewa .sliders .arrow-item {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .testimoni .penyewa .sliders .arrow-item.previous {
    left: -10px;
  }
  .testimoni .penyewa .sliders .arrow-item.next {
    right: -10px;
  }
}
.testimoni .penyewa .sliders .item {
  background: #F1FAFC;
  border-radius: 20px;
  padding: 4rem 2rem;
  height: 100%;
  margin: 0 0.5rem;
}
.testimoni .penyewa .sliders .item h6 {
  color: black;
  font-weight: 600;
}
.testimoni .penyewa .sliders .item small {
  display: block;
  font-size: 12px;
  margin-bottom: 1rem;
  color: #A9A9A9;
}
.testimoni .penyewa .sliders .item img {
  margin-bottom: 1rem;
}
.testimoni .penyewa .sliders .item p {
  color: black;
}

.cta-footer {
  position: relative;
  padding: 50px 0;
  margin: 0 28px;
}
.cta-footer .bg-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .cta-footer .bg-img img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}
.cta-footer .cta-footer-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 90%;
}
.cta-footer .cta-footer-text h3 {
  margin-bottom: 2rem;
  color: white;
}
@media (max-width: 992px) {
  .cta-footer .cta-footer-text h3 {
    font-size: 2rem;
  }
}
.cta-footer .cta-footer-text .btn-secondary {
  background-color: #FFC200;
  border-color: #FFC200;
  color: #183B56;
  padding: 12px 1rem;
  width: 243px;
}
.cta-footer .cta-footer-text .btn-secondary:hover {
  background-color: #ffc81a;
  border-color: #ffc81a;
}

.forms {
  color: black;
  padding: 40px 0;
}
.forms h2 {
  font-weight: 700;
  font-size: 27px;
}
.forms form {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .forms {
    width: 40%;
    margin: auto;
  }
  .forms h4 {
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .forms {
    padding: 10px 0;
  }
  .forms form {
    margin-top: 2rem;
  }
}
.forms .form-control,
.forms .form-select {
  padding: 10px 1rem;
}
.forms .form-group {
  margin-bottom: 18px;
}
.forms .form-group .form-label {
  font-weight: 700;
  margin-bottom: 6px;
}
.forms .form-group .form-input {
  padding: 10px 16px;
}
.forms .form-group.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forms .form-group.number .number-input {
  display: flex;
  align-items: center;
}
.forms .form-group.number .minus,
.forms .form-group.number .plus {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.forms .form-group.number .form-control {
  width: 40px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.forms .form-selection .form-label {
  font-weight: 600;
}
.forms .form-selection .selections {
  display: block;
}
.forms .form-selection .selections .btn-check:checked + .item {
  transition: all 0.2s ease;
  background: #D1F5FA;
  border-color: #D1F5FA;
  color: #00A7DB;
}
.forms .form-selection .selections .btn-check:checked + .item svg path {
  fill: #00A7DB;
}
.forms .form-selection .selections .btn-group-vertical > .btn,
.forms .form-selection .selections .btn-group > .btn {
  flex: 0 0 auto;
}
.forms .form-selection .selections .btn-group {
  display: flex;
}
.forms .form-selection .selections .item {
  border-radius: 32px;
  border: 1px solid #E0E3EB;
  margin-bottom: 1rem;
  padding: 12px 24px;
  margin-right: 1rem;
  color: #888B97;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s ease;
  font-weight: 500;
  background-color: white;
}
.forms .form-selection .selections .item:last-child {
  margin-right: 0;
}
.forms .form-selection .selections .item svg {
  margin-right: 11px;
}
.forms .form-selection .selections .item.hidden {
  display: none;
}
.forms .form-selection .selections .item:hover {
  transition: all 0.2s ease;
  background: #D1F5FA;
  border-color: #D1F5FA;
  color: #00A7DB;
}
.forms .form-selection .selections .item:hover svg path {
  fill: #00A7DB;
}
.forms .form-selection .selections .dropdown-item {
  display: flex;
  color: #888B97;
  align-items: center;
}
.forms .form-selection .selections .dropdown-item svg {
  margin-right: 11px;
}
.forms .btn-groups {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.forms .btn-groups .btn {
  margin: 0 0.25rem;
}

.content-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
.content-page .container .content-img {
  margin-bottom: 0.5rem;
}
.content-page .container .content-text {
  margin-bottom: 40px;
}
.content-page .container .content-text h2 {
  font-weight: 600;
  font-size: 24px;
  color: #183B56;
  margin-bottom: 1rem;
}
.content-page .container .content-text p {
  color: #5A7184;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
@media (max-width: 992px) {
  .content-page .container .content-text p {
    font-size: 16px;
  }
}
.content-page .container .content-text .sent-code a {
  color: #00A7CB;
}
.content-page .container .content-otp {
  margin-bottom: 40px;
}
.content-page .container .content-otp .otp-input {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.content-page .container .content-otp .otp-input input {
  width: 50px;
  height: 50px;
  border-color: #E6E6E6;
  margin: 0 0.25rem;
  text-align: center;
}
.content-page .container .content-otp .otp-input input:focus {
  box-shadow: none;
  border-color: #00A7CB;
}
.content-page .container .content-otp .otp-text {
  color: #5A7184;
  font-size: 18px;
}
@media (max-width: 992px) {
  .content-page .container .content-otp .otp-text {
    font-size: 16px;
  }
}

body,
html {
  font-family: "Open Sans", sans-serif;
  color: #5A7184;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

h6 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */