.navbar {
    background-color: #1A82A7;
    padding: 2rem 0;

    &.secondary {
        background-color: white;
        color: $primary;

        .hamburger {
            color: $primary;
        }

        .lang {
            padding: 0 2rem;

            .active {
                font-weight: bold;
            }

            a:hover {
                color: black;
                font-weight: bold;
            }
        }

        @include breakpoint(untilTablet) {
            .lang {
                display: none;
            }
        }
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        color: white;

        >ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    padding: .5rem 2rem;

                    &:hover {
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }

        .lang {
            padding: 0 2rem;

            .active {
                font-weight: bold;
            }

            a:hover {
                color: black;
                font-weight: bold;
            }
        }
    }

    @include breakpoint(untilTablet) {
        .hamburger {
            display: block;
            color: white;
            font-size: 32px;
        }

        .menu {
            display: none;
        }
    }
}

.offcanvas {
    .list-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 1.5rem;

            a:hover {

                color: $primary;
            }
        }
    }

    .lang {
        margin-top: 2rem;


        a:hover {
            color: $primary;
        }

        .active {
            font-weight: bold;
            color: $primary;
        }
    }
}

.footer {
    background-color: $primary;
    color: white;
    padding: 42px 0;

    .logo {
        margin-bottom: 1rem;
    }

    .contacts {
        display: flex;
        font-size: 14px;
        justify-content: flex-end;

        .item {
            margin-right: 2rem;

            p:first-child {
                margin-bottom: 8px;
            }
        }
    }


    @include breakpoint(untilTablet) {
        .first-row {
            margin-bottom: 40px;
        }

        .contacts {
            flex-wrap: wrap;
            justify-content: flex-start;

            .item {
                margin-bottom: 28px;
                width: 100%;
                margin-right: 0;
            }
        }
    }
}