// Colors
$primary: #28A5CB;
$blue-1: #00B6E1;
$blue-2: #2F8DAE;
$body: #5A7184;
$body-dark: #183B56;


/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point ==desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $point ==laptop {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $point ==largeDesktop {
        @media (min-width: 1450px) {
            @content;
        }
    }

    @else if $point ==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $point ==mobileonly {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $point ==untilTablet {
        @media (max-width: 992px) {
            @content;
        }
    }
}