@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

@import 'variables';
@import 'overrides';
@import 'template';
@import 'index';
@import 'forms';

body,
html {
    font-family: 'Open Sans', sans-serif;
    color: #5A7184;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

p {
    margin-bottom: 0;
}